IoT_Fundamentals_ECE_3501/Display_Time_Lab_1/display_time.json
[{"id":"1620c3ff.96b2dc","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"a886105b.8b245","type":"inject","z":"1620c3ff.96b2dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"IOT Hello World","payloadType":"str","x":140,"y":100,"wires":[["83f7d48e.4efd18"]]},{"id":"cb83c9a9.cfb728","type":"debug","z":"1620c3ff.96b2dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":320,"wires":[]},{"id":"83f7d48e.4efd18","type":"function","z":"1620c3ff.96b2dc","name":"Add time to message","func":"var dateNow = new Date();\nvar timeAsString = dateNow.toLocaleTimeString();\n\nmsg.payload = msg.payload + \"The currnet time is \" + timeAsString;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["cb83c9a9.cfb728"]]}]