IoT_Fundamentals_ECE_3501/Support_Vector_Graphics_Lab_5/svg_graphics.json
[
    {
        "id": "7895284d.2f4bd8",
        "type": "tab",
        "label": "SVG Graphics Lab 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b0c8915c.1f336",
        "type": "ui_svg_graphics",
        "z": "7895284d.2f4bd8",
        "group": "4b6c8cc5.969534",
        "order": 0,
        "width": 0,
        "height": 0,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" height=\"100\" viewBox=\"0 0 100 100\" width=\"100\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"100\" height=\"100\" style=\"fill:none; stroke: none;\"/><defs id=\"svgEditorDefs\"><polygon id=\"svgEditorIconDefs\" style=\"fill:rosybrown;\"/><polygon id=\"svgEditorShapeDefs\" style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;\"/><symbol id=\"1f602\" viewBox=\"0 0 64 64\" preserveAspectRatio=\"xMidYMid meet\"><rect x=\"0\" y=\"0\" width=\"64\" height=\"64\" style=\"stroke:none;fill:none;\"/><g xmlns=\"http://www.w3.org/2000/svg\"><circle cx=\"32.06\" cy=\"32\" fill=\"#ffdd67\" r=\"30\"/><path d=\"m51.06 35.32c0 8.05-6.311 17.446-19 17.446-12.693 0-19-9.395-19-17.446 0 0 6.307 0 19 0 12.69 0 19 0 19 0\" fill=\"#664e27\"/><path d=\"m34.16 40.805c-.662-.016-1.676.575-1.305 2.143.188.791 1.355 1.747 1.355 3.02 0 2.595-4.303 2.595-4.303 0 0-1.276 1.168-2.232 1.355-3.02.373-1.567-.645-2.158-1.303-2.143-1.791.045-4.729 1.9-4.729 5.04 0 3.528 3.057 6.389 6.828 6.389 3.77 0 6.826-2.86 6.826-6.389.003-3.139-2.937-4.994-4.724-5.04\" fill=\"#4c3526\"/><path d=\"m41.17 51.02c-2.408-1.408-5.432-2.298-9.105-2.298s-6.697.89-9.104 2.298c2.406 1.41 5.43 2.3 9.104 2.3s6.697-.89 9.105-2.3\" fill=\"#ff717f\"/><path d=\"m13.06 35h38v5h-38z\" fill=\"#fff\"/><path d=\"m32.06 53.765c-12.99 0-20-9.504-20-18.446v-1h40v1c0 8.942-7.01 18.446-20 18.446m-17.967-17.447c.504 7.665 6.764 15.446 17.967 15.446s17.465-7.781 17.967-15.446h-35.934\" fill=\"#664e27\"/><g fill=\"#65b1ef\"><path d=\"m59.38 35.874c7.307 7.679-2.621 18.12-9.93 10.437-5.336-5.611-5.578-16.301-5.578-16.301s10.174.257 15.508 5.864\"/><path d=\"m14.422 46.31c-7.305 7.68-17.236-2.757-9.928-10.437 5.336-5.608 15.508-5.864 15.508-5.864s-.243 10.693-5.58 16.301\"/></g><g fill=\"#664e27\"><path d=\"m27.652 27.24c-3.264-6.197-12.653-6.197-15.917 0-.195.378.32.921.95 1.352 4.135-3.27 9.879-3.271 14.01 0 .632-.431 1.148-.974.953-1.352\"/><path d=\"m52.39 27.24c-3.264-6.197-12.652-6.197-15.916-.001-.195.379.32.922.95 1.353 4.136-3.271 9.88-3.271 14.02-.001.63-.431 1.146-.973.951-1.351\"/></g></g></symbol></defs><path d=\"M-2,-4l-2,2v4l2,2h4l2,-2v-4l-2,-2Z\" style=\"fill:rosybrown; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;\" id=\"octagon\" transform=\"matrix(4.49486 0 0 4.49486 44.3493 59.7603)\"/><use xlink:href=\"#1f602\" x=\"40.753\" y=\"57.192\" width=\"15.925\" height=\"15.925\" id=\"emoji\"/><text dy=\"-0.5em\" style=\"fill:black;font-family:Arial;font-size:20px;\" id=\"e2_text\">T</text><path d=\"M2,0h2l-4,-4l-4,4h2v4h4Z\" style=\"fill:yellow; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;\" id=\"arrow\" transform=\"matrix(1.90497 0 0 1.90497 44.0925 39.2979)\"/></svg>",
        "clickableShapes": [],
        "smilAnimations": [
            {
                "id": "myarrow",
                "targetId": "arrow",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "5000",
                "toValue": "8000",
                "trigger": "msg",
                "duration": "20",
                "durationUnit": "s",
                "repeatCount": "15",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            }
        ],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "name": "",
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2cae48a3.906768",
        "type": "function",
        "z": "7895284d.2f4bd8",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "b0c8915c.1f336"
            ]
        ]
    },
    {
        "id": "7d9836d2.10acc8",
        "type": "ui_switch",
        "z": "7895284d.2f4bd8",
        "name": "",
        "label": "base",
        "tooltip": "",
        "group": "4b6c8cc5.969534",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "2cae48a3.906768"
            ]
        ]
    },
    {
        "id": "4b6c8cc5.969534",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "28929888.287be8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "28929888.287be8",
        "type": "ui_tab",
        "z": "",
        "name": "Hall",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]